@import 'nib'

black = #1F1F24
darkGrey = #3D3E43
grey = #8B9599
lightGrey = #E2E2E2
lighterGrey = #EEEEEE
lightestGrey = #F4F4F4
white = #FFFEFE

brandColor = #346298

selected = #1C92DF
headlineRed = #DB4D41

navWidth = 176px

@font-face
	font-family OpenSans
	font-style normal
	font-weight 400
	src url(fonts/Open_Sans/OpenSans-Regular.ttf)

@font-face
	font-family OpenSans
	font-style normal
	font-weight 600
	src url(fonts/Open_Sans/OpenSans-Bold.ttf)

@font-face
	font-family OpenSans
	font-style normal
	font-weight 800
	src url(fonts/Open_Sans/OpenSans-ExtraBold.ttf)

@font-face
	font-family SourceCodePro
	font-style normal
	font-weight 400
	src url(fonts/Source_Code_Pro/SourceCodePro-Regular.ttf)

@font-face
	font-family SourceCodePro
	font-style normal
	font-weight 600
	src url(fonts/Source_Code_Pro/SourceCodePro-Semibold.ttf)

openSans()
	font-family OpenSans, Monaco
	color black

sourceCodePro()
	font-family SourceCodePro

helveticaNeue()
	font-family 'Helvetica Neue', Monaco
	color black

@import "normalize.styl";
@import "semantic.gs.styl";
//@import "typeplate.styl";

*, *:before, *:after {
	box-sizing(border-box)
}

a
	color black;

headline()
	openSans()
	font-weight 600
	margin 0

h1
	headline()
	font-size 30px
	letter-spacing -1px

h2
	headline()
	color headlineRed

h3
	headline()

p
ul
	helveticaNeue()
	color drakGrey
	font-size 15px
	line-height 22px

ul
	list-style circle
	padding-left 36px

code
	background-color #FAF9BD

header()
base-font()

container()
	overflow hidden;
	clear both;

even-height()
	float left
	padding-bottom 10000px
	margin-bottom -10000px

body
	padding 30
	margin 0
	background lightGrey

.docdoc
	padding 30px
	container()

.nav
	idHeight = 142px
	width navWidth
	padding 0 17px 0
	height 100%
	position fixed
	overflow-x hidden
	overflow-y scroll
	
	&::-webkit-scrollbar
		display none

	.branding
		position fixed
		width idHeight
		height idHeight
		background-color brandColor
		margin 0 auto
		a
			display block
			width idHeight
			height idHeight
			text-align center
			line-height idHeight
			color white

	nav
		openSans()
		margin-top idHeight + 15px
		ul, li
			margin 0
			padding 0
			list-style none
		a
			text-decoration none
		ul
			display none
		ul.selected, ul.selected ul
			display block
		ul.level-1 > li a.level-1-title
			openSans()
			font-weight 800
			font-size 15px
			color darkGrey
			text-transform uppercase
		ul.level-2
			line-height 25px
			margin 5px 0 0
		ul.level-2 li a
			font-weight 800
			font-size 13px
			color grey
		ul.level-2 li.selected a
			color darkGrey
		ul.level-3
			border-left 3px solid #CBCBCB
			padding-left 10px
			margin 5px 0 10px
		ul.level-3 li 
			height 25px
			text-overflow ellipsis
			overflow hidden
		ul.level-3 li a
			font-weight 400
		ul.level-3 li.selected a
			color selected

.plugin-image img
	width 440px

@import "chapter.styl";
@import "index.styl";