black = #1F1F24
darkGrey = #3D3E43
grey = #8B9599
lightGrey = #E2E2E2
lighterGrey = #EEEEEE
lightestGrey = #F4F4F4
white = #FFFEFE

brandColor = #346298

selected = #1C92DF
headlineRed = #DB4D41

navWidth = 176px

openSans()
	font-family OpenSans, Monaco
	color black

helveticaNeue()
	font-family 'Helvetica Neue', Monaco
	color black

@import "normalize.styl";
@import "semantic.gs.styl";
//@import "typeplate.styl";

*, *:before, *:after {
  box-sizing(border-box)
}

a
	color black;

headline()
	openSans()
	margin 0

h1
	headline()
	font-size 30px
	letter-spacing -1px

h2
	headline()
	color headlineRed

h3
	headline()

p
ul
	helveticaNeue()
	color drakGrey
	font-size 15px
	line-height 22px

ul
	list-style circle
	padding-left 36px

code
	background-color #FAF9BD

header()
base-font()

container()
	overflow hidden;
	clear both;

even-height()
	float left
	padding-bottom 10000px
	margin-bottom -10000px

body
	padding 30
	margin 0
	background lightGrey

.docdoc
	padding 30px
	container()

.nav
	idHeight = 142px
	width navWidth
	padding 0 17px 0
	height 100%
	position fixed
	overflow-x hidden
	overflow-y scroll
	
	&::-webkit-scrollbar
		display none

	.branding
		position fixed
		width idHeight
		height idHeight
		background-color brandColor
		margin 0 auto
		a
			display block
			width idHeight
			height idHeight
			text-align center
			line-height idHeight
			color white

	nav
		openSans()
		margin-top idHeight + 15px
		ul, li
			margin 0
			padding 0
			list-style none
		a
			text-decoration none
		ul
			display none
		ul.selected, ul.selected ul
			display block
		ul.level-1 > li a.level-1-title
			font-weight 800
			font-size 15px
			color darkGrey
			text-transform uppercase
		ul.level-2
			line-height 25px
			margin 5px 0 0
		ul.level-2 li a
			font-weight 800
			font-size 13px
			color grey
		ul.level-2 li.selected a
			color darkGrey
		ul.level-3
			border-left 3px solid #CBCBCB
			padding-left 10px
			margin 5px 0 10px
		ul.level-3 li a
			font-weight 400
		ul.level-3 li.selected a
			color selected


.chapter
	cardWidth = 976px
	cardPadding = 18px
	cardMargin = 0 0 30px 0
	margin-left navWidth + 24

	section :last-child
		margin-bottom 0

	section :first-child
		margin-top 0

	header
	section.header
		background-color #DBDBDB
		color darkGrey
		padding cardPadding
		margin cardMargin
		width cardWidth

	section.card
		float left
		width cardWidth
		background linear-gradient(to right, white (cardWidth / 2 - 2), lighterGrey (cardWidth / 2 - 2), lighterGrey (cardWidth / 2 + 2),lightestGrey (cardWidth / 2 + 2));

		.text
			float left
			padding cardPadding
			width (cardWidth / 2 - 1)

		.asset
			float left
			padding 22px
			width (cardWidth / 2 - 1)
			.asset-annotation
				openSans()
				padding 2px 0
				font-size 11px
				text-align right
				line-height 15px
				color grey
				a
					color grey
	section.level-2
		margin cardMargin
		box-shadow 0px 0px 4px 0px rgba(0,0,0,0.10);